{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>EasyEGE - Материалы для успешной подготовке к ЕГЭ по физике</title>
<link rel="stylesheet" href="{% static 'exam/css/docs.css' %}">
<meta name="description"
  content="Материалы для успешной сдачи ЕГЭ по физике. Различные темы: механика, теория относительности, оптика, молекулярная физика и термодинамика, электродинамика, квантовая физика.">
{% endblock %}

{% block content %}
<div class="cards">
  <div class="card main-card">
    <h1 class="card__title">Физика для ЕГЭ: Материалы</h1>
    <p class="card__text">Здесь собраны материалы для подготовки к ЕГЭ. Информация взята с различных источников.
      Выберите из перечня нужную тему, и перейдите по ссылке для ее изучения.</p>
  </div>
  <div class="card resources-card">
    <h2 class="card__title">Каталог тем</h2>

    <div class="paragraphs">
      <div class="paragraph">
        <h3 class="paragraph__title">Механика</h3>
        <ul class="topics-list">
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/mexanicheskoe-dvizhenie/"
            class="topic-link">Механическое движение</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/ravnomernoe-pryamolinejnoe-dvizhenie/"
            class="topic-link">Равномерное прямолинейное движение</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/ravnouskorennoe-dvizhenie/"
            class="topic-link">Равноускоренное движение</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/ravnomernoe-dvizhenie-po-okruzhnosti/"
            class="topic-link">Равномерное движение по окружности</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/put-pri-neravnomernom-dvizhenii/"
            class="topic-link">Путь при неравномерном движении</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/pervyj-zakon-nyutona/"
            class="topic-link">Первый закон Ньютона</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/massa-i-plotnost/"
            class="topic-link">Масса и плотность</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/vtoroj-i-tretij-zakony-nyutona/"
            class="topic-link">Второй и третий законы Ньютона</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/sila-uprugosti/" class="topic-link">Сила
            упругости</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/sila-tyagoteniya/"
            class="topic-link">Сила тяготения</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/sila-treniya/" class="topic-link">Сила
            трения</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/statika-tvyordogo-tela/"
            class="topic-link">Статика твёрдого тела</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/statika-zhidkostej-i-gazov/"
            class="topic-link">Статика жидкостей и газов</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/impuls/" class="topic-link">Импульс</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/energiya/"
            class="topic-link">Энергия</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/prostye-mexanizmy/"
            class="topic-link">Простые механизмы</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/mexanicheskie-kolebaniya/"
            class="topic-link">Механические колебания</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/mexanicheskie-volny/"
            class="topic-link">Механические волны</a>
          <a target="_blank"
            href="https://ege-study.ru/materialy-ege/kurs-fiziki-teoriya/vychislenie-peremeshheniya-po-grafiku-proekcii-skorosti/"
            class="topic-link">Вычисление перемещения по графику проекции скорости</a>
          <a target="_blank"
            href="https://ege-study.ru/materialy-ege/kurs-fiziki-teoriya/zadachi-na-ravnouskorennoe-dvizhenie/"
            class="topic-link">Задачи на равноускоренное движение</a>
        </ul>
      </div>
      <div class="paragraph">
        <h3 class="paragraph__title">Теория относительности</h3>
        <ul class="topics-list">
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/princip-otnositelnosti-galileya/"
            class="topic-link">Принцип относительности Галилея</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/principy-sto/"
            class="topic-link">Принципы СТО</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/relyativistskaya-kinematika/"
            class="topic-link">Релятивистская кинематика</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/relyativistskaya-dinamika/"
            class="topic-link">Релятивистская динамика</a>
        </ul>
      </div>
      <div class="paragraph">
        <h3 class="paragraph__title">Оптика</h3>
        <ul class="topics-list">
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/svetovye-luchi/"
            class="topic-link">Световые лучи</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/otrazhenie-sveta/"
            class="topic-link">Отражение света</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/prelomlenie-sveta/"
            class="topic-link">Преломление света</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/linzy-xod-luchej/"
            class="topic-link">Линзы. Ход лучей</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/tonkie-linzy-xod-luchej/"
            class="topic-link">Тонкие линзы. Ход лучей</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/tonkie-linzy-postroenie-izobrazhenij/"
            class="topic-link">Тонкие линзы. Построение изображений</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/glaz-cheloveka/" class="topic-link">Глаз
            человека</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/opticheskie-pribory/"
            class="topic-link">Оптические приборы</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/princip-gyujgensa/"
            class="topic-link">Принцип Гюйгенса</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/interferenciya-voln/"
            class="topic-link">Интерференция волн</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/interferenciya-sveta/"
            class="topic-link">Интерференция света</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/difrakciya-sveta/"
            class="topic-link">Дифракция света</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/dispersiya-sveta/"
            class="topic-link">Дисперсия света</a>
        </ul>
      </div>

      <div class="paragraph">
        <h3 class="paragraph__title">Молекулярная физика и термодинамика</h3>
        <ul class="topics-list">
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/osnovnye-polozheniya-mkt/"
            class="topic-link">Основные положения МКТ</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/osnovnye-formuly-molekulyarnoj-fiziki/"
            class="topic-link">Основные формулы молекулярной физики</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/temperatura/"
            class="topic-link">Температура</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/uravnenie-sostoyaniya-idealnogo-gaza/"
            class="topic-link">Уравнение состояния идеального газа</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/izoprocessy/"
            class="topic-link">Изопроцессы</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/nasyshhennyj-par/"
            class="topic-link">Насыщенный пар</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/vnutrennyaya-energiya/"
            class="topic-link">Внутренняя энергия</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/kolichestvo-teploty/"
            class="topic-link">Количество теплоты</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/fazovye-perexody/"
            class="topic-link">Фазовые переходы</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/pervyj-zakon-termodinamiki/"
            class="topic-link">Первый закон термодинамики</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/teplovye-mashiny/"
            class="topic-link">Тепловые машины</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/vtoroj-zakon-termodinamiki/"
            class="topic-link">Второй закон термодинамики</a>
        </ul>
      </div>

      <div class="paragraph">
        <h3 class="paragraph__title">Электродинамика</h3>
        <ul class="topics-list">
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/elektricheskij-zaryad/"
            class="topic-link">Электрический заряд</a>
          <a target="_blank"
            href="https://ege-study.ru/ru/ege/materialy/fizika/kondensator-energiya-elektricheskogo-polya/"
            class="topic-link">Конденсатор. Энергия электрического поля</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/postoyannyj-elektricheskij-tok/"
            class="topic-link">Постоянный ток</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/zakon-oma/" class="topic-link">Закон
            Ома</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/soedineniya-provodnikov/"
            class="topic-link">Соединения проводников</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/rabota-i-moshhnost-toka/"
            class="topic-link">Работа и мощность тока</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/eds-zakon-oma-dlya-polnoj-cepi/"
            class="topic-link">ЭДС. Закон Ома для полной цепи</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/elektricheskij-tok-v-metallax/"
            class="topic-link">Электрический ток в металлах</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/elektricheskij-tok-v-elektrolitax/"
            class="topic-link">Электрический ток в электролитах</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/elektricheskij-tok-v-gazax/"
            class="topic-link">Электрический ток в газах</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/poluprovodniki/"
            class="topic-link">Полупроводники</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/magnitnoe-pole-linii/"
            class="topic-link">Магнитное поле. Линии</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/magnitnoe-pole-sily/"
            class="topic-link">Магнитное поле. Силы</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/elektromagnitnaya-indukciya/"
            class="topic-link">Электромагнитная индукция</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/samoindukciya/"
            class="topic-link">Самоиндукция</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/elektromagnitnye-kolebaniya/"
            class="topic-link">Электромагнитные колебания</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/peremennyj-tok-1/"
            class="topic-link">Переменный ток. 1</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/peremennyj-tok-2/"
            class="topic-link">Переменный ток. 2</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/moshhnost-peremennogo-toka/"
            class="topic-link">Мощность переменного тока</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/elektroenergiya/"
            class="topic-link">Электроэнергия</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/elektromagnitnoe-pole/"
            class="topic-link">Электромагнитное поле</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/elektromagnitnye-volny/"
            class="topic-link">Электромагнитные волны</a>
        </ul>
      </div>

      <div class="paragraph">
        <h3 class="paragraph__title">Квантовая физика</h3>
        <ul class="topics-list">
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/fotoeffekt/"
            class="topic-link">Фотоэффект</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/fotony/" class="topic-link">Фотоны</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/korpuskulyarno-volnovoj-dualizm/"
            class="topic-link">Корпускулярно-волновой дуализм</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/linejchatye-spektry/"
            class="topic-link">Линейчатые спектры</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/stroenie-atoma/"
            class="topic-link">Строение атома</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/atom-bora/" class="topic-link">Атом
            Бора</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/lazer/" class="topic-link">Лазер</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/stroenie-yadra/"
            class="topic-link">Строение ядра</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/radioaktivnost/"
            class="topic-link">Радиоактивность</a>
          <a target="_blank" href="https://ege-study.ru/ru/ege/materialy/fizika/energiya-svyazi-yadra/"
            class="topic-link">Энергия связи ядра</a>
          <a target="_blank" href="https://ege-study.ru/ege-fizika/yadernye-reakcii/" class="topic-link">Ядерные
            реакции</a>
        </ul>
      </div>



      <div class="info-text">*вся информация взята с ресурса: <a target="_blank"
          href="https://ege-study.ru/ru/ege/materialy/fizika/">https://ege-study.ru/ru/ege/materialy/fizika/</a>
      </div>

    </div>
  </div>
  {% endblock %}