{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>EasyEGE - Список всех формул из ЕГЭ по физике</title>
<link rel="stylesheet" href="{% static 'exam/css/tasks.css' %}">
<link rel="stylesheet" href="{% static 'exam/css/formulas.css' %}">
<script defer src="{% static 'exam/js/tasks.js' %}"></script>
<meta name="description"
    content="Все формулы для сдачи ЕГЭ по физике. Они разделены по темам, чтобы было удобно по ним ориентироваться.">
{% endblock %}

{% block content %}
<div class="cards">
    <div class="card main-card">
        <h1 class="card__title">Физика для ЕГЭ: Формулы</h1>
        <p class="card__text">Здесь собраны основные формулы, необходимые для успешной сдачи экзамена.
            Они разделены по темам, чтобы было удобнее ориентироваться. Наша цель - помочь вам
            систематизировать знания и уверенно справиться с физикой на экзамене.</p>
    </div>
    <div class="card">
        <h2 class="card__title">Каталог тем</h2>
        <p class="card__text">Для удобного изучения, формулы были разделены по различным темам.</p>

        <p class="topic-subtitle">Тема</p>
        <div class="topics">
            {% for f_category in f_categories %}
            <div class="topic">
                <div class="delimiter" style="margin-bottom: 10px;"></div>
                <div class="topic-title">
                    <svg fill="#000000" height="12px" width="12px" version="1.1" id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 330 330" xml:space="preserve">
                        <path id="XMLID_102_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
                    </svg>

                    <h3>{{ f_category.title }}</h3>
                </div>
                <div class="topic-content">
                    <div class="tasks-list">
                        {% for formula in f_category.formula_set.all %}
                        <p>{{ forloop.counter }}. {{ formula.title }} <b>{{ formula.formula }}</b></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


    </div>
</div>
{% endblock %}