{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>ЕГЭ - Платформа для подготовки к ЕГЭ по физике!!!!!!</title>
<link rel="stylesheet" href="{% static 'exam/css/index.css' %}">
<meta name="description"
  content="У нас вы найдете все для эффективной подготовки: разнообразные задачи, варианты, а также полезные материалы и формулы. Решайте задачи, оттачивайте навыки, и уверенно шагайте к успешному сдаче экзамена. Вместе с нами подготовка становится интересной и результативной. Присоединяйтесь к нам для эффективной подготовки и уверенности на экзамене.">
{% endblock %}

{% block content %}
<div class="cards">
  <div class="card main-card">
    <h1 class="card__title">Подготовка к ЕГЭ по физике</h1>
    <p class="card__text">У нас вы найдете все для эффективной подготовки: разнообразные задачи, варианты, а
      также полезные материалы и формулы. Решайте задачи, оттачивайте навыки, и уверенно шагайте к успешному сдаче
      экзамена. Вместе с нами подготовка становится интересной и результативной. Присоединяйтесь к нам для
      эффективной подготовки и уверенности на экзамене.</p>
    <a href="{% url 'tasks' %}" class="card__button">Решать задания</a>
  </div>
  <div class="info-cards">
    <div class="card formulas-card">
      <h2 class="card__title">Формулы</h2>
      <p class="card__text">Все формулы на разные темы для успешной сдачи ЕГЭ</p>
      <div class="delimiter"></div>
      <div class="formulas-list">
        {% for category in formula_categories %}
        <a href="{% url 'formulas' %}" class="topic">{{ forloop.counter }}. {{ category.title }}</a>
        {% endfor %}
      </div>
      <a href="{% url 'formulas' %}" class="card__button">Больше формул</a>
    </div>
    <div class="card exam-info-card">
      <h2 class="card__title info-card__title">Информация ЕГЭ-2024</h2>
      <div class="info-block">
        <p class="info-card__subtitle">Досрочный период</p>
        <p class="info-card__text">2 апреля</p>
      </div>
      <div class="info-block">
        <p class="info-card__subtitle">Основной период</p>
        <p class="info-card__text">10 июня, <b class="grey">21 июня - резерв</b></p>
      </div>
      <div class="info-block">
        <p class="info-card__subtitle">Продолжительность</p>
        <p class="info-card__text">3 часа 55 минут</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}