{% extends 'exam/base.html' %}
{% load static %}

{% block head %}
<title>ЕГЭ - Тренировочный вариант №{{ option_id }}</title>
<link rel="stylesheet" href="{% static 'exam/css/singleTask.css' %}">
<link rel="stylesheet" href="{% static 'exam/css/singleOption.css' %}">
<script defer src="{% static 'exam/js/singleOption.js' %}"></script>
{% endblock %}

{% block content %}
<div class="cards">
    <div class="card main-card">
        <h2 style="padding: 0;" class="card__title">Вариант №{{ option_id }}</h2>
    </div>
    <div class="card">
        <h2 class="card__title">Задание №344</h2>
        <p class="card__text">На рисунке показан график зависимости от времени для проекции скорости тела. Какова
            проекция aₓ ускорения этого тела в интервале времени от 5 до 6 c?</p>
        <img class="task__image" src="{% static 'exam/images/task.png' %}" alt="task">
        <div class="answer">
            <input type="text" class="answer-input" placeholder="Ответ">
            <a href="#tasks" class="card__button answer-button">Проверить</a>
        </div>
        <div class="check-answer">
            <span class="toggle-answer">Показать ответ</span>
            <span class="full-answer">14</span>
        </div>
    </div>
    <div class="card">
        <h2 class="card__title">Задание №45</h2>
        <p class="card__text">На рисунке показан график зависимости от времени для проекции скорости тела. Какова
            проекция aₓ ускорения этого тела в интервале времени от 5 до 6 c?</p>
        <img class="task__image" src="{% static 'exam/images/task.png' %}" alt="task">
        <div class="answer">
            <input type="text" class="answer-input" placeholder="Ответ">
            <a href="#tasks" class="card__button answer-button">Проверить</a>
        </div>
        <div class="check-answer">
            <span class="toggle-answer">Показать ответ</span>
            <span class="full-answer">12</span>
        </div>
    </div>
</div>

<h3 class="info-text">Нажмите кнопку “Проверить” у задания, чтобы посмотреть результат</h3>
{% endblock %}