{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>EasyEGE - Задание №{{ task.id }} из ЕГЭ</title>
<link rel="stylesheet" href="{% static 'exam/css/singleTask.css' %}">
<script defer src="{% static 'exam/js/singleTask.js' %}"></script>
<script defer src="{% static 'exam/js/checkAnswer.js' %}"></script>
<meta name="description" content="Тип задания: {{ task.type }}. {{ task.description }}">
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://easy-ege.ru/tasks/{{ task.id }}"/>
<meta property="og:title" content="Задание по физике №{{ task.id }}"/>
<meta property="og:description"
      content="{% if task.description|length > 100 %}{{ task.description|slice:100 }}...{% else %}{{ task.description }}{% endif %}"/>
{% endblock %}

{% block content %}
<div class="cards">
    <div class="card main-card">
        <h1 class="card__title">Тип №{{ task.type }}. Задание №{{ task.id }}</h1>
        <p class="card__text">{{ task.description }}</p>

        {% if task.image %}
        <img class="task__image" src="{{ task.image.url }}" alt="task">
        {% endif %}
        <div class="answer">
            <input type="text" class="answer-input" placeholder="Ответ">
            <button class="card__button answer-button">Проверить</button>
        </div>
        <div class="check-answer">
            <span class="toggle-answer">Показать ответ</span>
            <span class="full-answer">{{ task.correct_answer }}</span>
        </div>
    </div>
</div>
{% endblock %}