{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>EasyEGE - Тренировочный вариант №{{ variant.variant_number }}</title>
<link rel="stylesheet" href="{% static 'exam/css/singleTask.css' %}">
<link rel="stylesheet" href="{% static 'exam/css/singleOption.css' %}">
<script defer src="{% static 'exam/js/singleOption.js' %}"></script>
<script defer src="{% static 'exam/js/checkAnswer.js' %}"></script>
<meta name="description"
    content="Вариант №{{ variant.variant_number }}. В нем собраны различные задания в стиле ЕГЭ для тренировки своих знаний.">
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://easy-ege.ru/variants/{{ variant.variant_number }}"/>
<meta property="og:title" content="Тренировочный вариант по физике №{{ variant.variant_number }}"/>
<meta property="og:description"
      content="Тренировочный вариант для подготовки к экзамену по физике. В нем собраны различные задания в стиле ЕГЭ для тренировки своих знаний."/>
{% endblock %}

{% block content %}
<div class="cards">
    <div class="card main-card">
        <h1 style="padding: 0;" class="card__title">Вариант №{{ variant.variant_number }}</h1>
    </div>
    {% for task in variant.tasks.all %}
    <div class="card">
        <h2 class="card__title">Тип № {{ task.type }}. Задание №{{ task.id }}</h2>
        <p class="card__text">{{ task.description }}</p>
        {% if task.image %}
        <img class="task__image" src="{{ task.image.url }}" alt="task">
        {% endif %}
        <div class="answer">
            <input type="text" class="answer-input" placeholder="Ответ">
            <button class="card__button answer-button">Проверить</button>
        </div>
        <div class="check-answer">
            <span class="toggle-answer">Показать ответ</span>
            <span class="full-answer">{{ task.correct_answer }}</span>
        </div>
    </div>
    {% endfor %}
</div>

<h3 class="info-text">Нажмите кнопку “Проверить” у задания, чтобы посмотреть результат</h3>
{% endblock %}