{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>EasyEGE - Сборник задач для повышения своих навыков</title>
<link rel="stylesheet" href="{% static 'exam/css/tasks.css' %}">
<script defer src="{% static 'exam/js/tasks.js' %}"></script>
<meta name="description"
    content="Сборник задач для ЕГЭ по физике. Задания взяты с самых популярных источник по подготовке к экзаменам. Выберите интересующие для вас задачи на нужную тему, и решайте, прокачивая свои навыки.">
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://easy-ege.ru/tasks"/>
<meta property="og:title" content="Сборник задач для ЕГЭ по физике"/>
<meta property="og:description"
      content="Задания взяты с самых популярных источник по подготовке к экзаменам. Выберите интересующие для вас задачи на нужную тему, и решайте, прокачивая свои навыки"/>
{% endblock %}

{% block content %}
<div class="cards">
    <div class="card main-card">
        <h1 class="card__title">Физика для ЕГЭ: Тренировочные задания</h1>
        <p class="card__text">Все задания очень похожи на те, что используются на ЕГЭ. Задания взяты с самых
            популярных источник по подготовке к экзаменам.
            Выберите интересующие для вас задачи на нужную тему, и решайте, прокачивая свои навыки.</p>
    </div>
    <div class="card">
        <h2 class="card__title">Каталог заданий</h2>
        <p class="card__text">Чтобы потренироваться справляться с заданиями определённого типа, выберите нужную тему.
        </p>

        <p class="topic-subtitle">Тема</p>
        <div class="topics">
            {% for category in categories %}
            <div class="topic">
                <div class="delimiter" style="margin-bottom: 10px;"></div>
                <div class="topic-title">
                    <svg fill="#000000" height="12px" width="12px" version="1.1" id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 330 330" xml:space="preserve">
                        <path id="XMLID_102_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
                    </svg>

                    <h3>{{ category.title }}</h3>
                </div>
                <div class="topic-content">
                    <div class="tasks-list">
                        {% for task in category.task_set.all %}
                        <p><a href="{% url 'single-task' task.id %}">{{ forloop.counter }}. Задание №{{ task.id }}</a>
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</div>
{% endblock %}