{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>EasyEGE - Сборник тренировочных вариантов с задачами</title>
<link rel="stylesheet" href="{% static 'exam/css/options.css' %}">
<meta name="description"
    content="Сборник тренировочных вариантов для подготовки к ЕГЭ по физике. Вы найдете задания, направленные на закрепление теоретических знаний, а также отработку практических навыков решения типовых задач.">
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://easy-ege.ru/variants"/>
<meta property="og:title" content="Тренировочные варианты для подготовки к ЕГЭ по физике"/>
<meta property="og:description"
      content="Вы найдете задания, направленные на закрепление теоретических знаний, а также отработку практических навыков решения типовых задач."/>
{% endblock %}

{% block content %}
<div class="cards">
    <div class="card main-card">
        <h1 class="card__title">Физика для ЕГЭ: Тренировочные варианты</h1>
        <p class="card__text">Здесь подобраны тренировочные варианты в стиле ЕГЭ. Вы найдете задания, направленные
            на закрепление теоретических знаний, а также отработку практических навыков решения типовых задач.</p>
        <div class="options">
            {% for variant in variants %}
            {% if forloop.first %}
            <a href="{% url 'single-variant' variant.variant_number %}" class="card__button">Вариант
                №{{ variant.variant_number }}</a>
            {% else %}
            <a href="{% url 'single-variant' variant.variant_number %}" class="option_button">{{ variant.variant_number }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}